
<footer style="text-align: right;">
    <hr/>
    InSensor Project
</footer>
</div>
<script src="/script/popper.min.js"></script>
<script src="/script/plugins.js"></script>
<script src="/script/main.js"></script>

</body>

</html>